RewriteEngine on

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,NE,L]

# Remove www. from url
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=301,NE,L]

# Set Security Header
Header always set Strict-Transport-Security "max-age=16070400; includeSubDomains" env=HTTPS

# Brotli compression
<IfModule mod_brotli.c>
    SetOutputFilter BROTLI_COMPRESS
</IfModule>

# Sitemap
RewriteRule ^sitemap\.xml$ /code/sitemap.php [L,NC]

# Handle only the category
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/%]+)/?$ index.php?category=$1 [L,QSA,B,UnsafeAllow3F]

# Handle both category and file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/%]+)/([^/%]+)/?$ index.php?category=$1&file=$2 [L,QSA,B,UnsafeAllow3F]

# Cache images
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/webp  "access plus 1 month"
</IfModule>