body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0 20px; /* 0 for top and bottom, 10px for left and right */
    max-width: 786px;
}

h1, .header {
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card, .card-md {
    background-color: #111;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

.card h2, .card-md h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word;
}

.card p, .card-md p {
    color: #ccc;
    margin-bottom: 0;
    overflow-wrap: break-word;
}

.content p {
    color: #fff;
    margin-top: 0;
    overflow-wrap: break-word;
}

.content a {
    color: #fff;
    word-break: break-all;
    overflow-wrap: break-word;
}

.content blockquote {
    border-left: 4px solid purple;
    padding-left: 15px;
    margin: 10px 0;
    color: #ddd;
}

.content pre, code, h4, h3, h2, h1, h5, h6 {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.content li {
    word-wrap: break-word;
}

.content ol, li {
    padding: 0;
    margin: 0;
}

.content ol, .content ul {
    padding-left: 15px;
}

.content ol ol {
    padding-left: 20px;
}

.content img {
    max-width: 100%;
}

.back-button {
    background-color: #FFF;
    border: none;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.back-button:hover {
    background-color: #DDD;
}

#share-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#share-button:hover path {
    fill: #DDD;
}

.read-more {
    color: #fff;
    text-decoration: underline;
}       
.search-bar {
    width: 100%;
    margin: 2vh auto;
    padding: 8px 40px 8px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
    outline: none;
    position: relative;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.search-container {
    width: 100%;
    max-width: 400px;
    margin: -1vh auto 0vh auto;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18.75px;
    height: 55px;
}

.clear-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none; /* Hidden by default */
    z-index: 2;
}

.highlight {
    background-color: yellow;
    color: #000;
}
.result-link{
    color: #fff;
    text-decoration: none;
}
.category{
    color: #ddd;
    font-weight: bold;
    font-size: smaller;
}
.title {
    color: white;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto;
    max-width: calc(100% - 80px);
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.links a {
    color: #fff;
    text-decoration: none;
    margin: 5px;
    border: 1px solid #fff;
    padding: 1vh;
    border-radius: 1vh;
}
.chosen-link {
    background-color: #fff;
    color: #000 !important;
}
#scrollToThis {
    background-color: rgb(173, 158, 119) !important;
    color:#000;
}

@media (min-width: 768px) {
    .card .card-md {
        flex-basis: 48%;
    }
    #removeHighlights {
        right: calc(50% - 400px);
    }
}

#removeHighlights {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}